html {
height: 800px;
}

body {
background: -moz-linear-gradient(top, #d5e6f8 0%, #d5c06f 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d5e6f8), color-stop(100%, #d5c06f));
background: -webkit-linear-gradient(top, #d5e6f8 0%, #d5c06f 100%);
background: -ms-linear-gradient(top, #d5e6f8 0%, #d5c06f 100%);
background: linear-gradient(to bottom, #d5e6f8 0%, #d5c06f 100%);


  margin: 0;
  font-family: "Montserrat", "Avenir";
}

.square {
  width: 30%;
  background: purple;
  padding-bottom: 30%;
  float: left;
  margin: 1.66%;
  border-radius: 25%;
  transition: background 0.6s;
  -webkit-transition: background 0.6s;
  -moz-transition: background 0.6s;
}

#container {
  max-width: 600px;
  margin: 20px auto;
  

}


.h1-gradient {
  background: -moz-linear-gradient(top, #bba041 0%, #bb8d90 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bba041), color-stop(100%, #bb8d90));
  background: -webkit-linear-gradient(top, #bba041 0%, #bb8d90 100%);
  background: -ms-linear-gradient(top, #bba041 0%, #bb8d90 100%);
  background: linear-gradient(to bottom, #bba041 0%, #bb8d90 100%);
}

h1 {
  color:black;
  text-align: center;
  line-height: 1.1;
  background:#f8c291;
  margin: 0;
  font-weight: normal;
  text-transform: uppercase;
  padding: 20px 0;
}

#colorDisplay{
  font-size: 200%;
}

#message{
  display: inline-block;
  width: 20%;
}

#stripe {
  background-color:  white;
  height: 30px;
  text-align: center;
  
}
.selected {
  background-color: blue;
  color : black;
  background: gold;
}

button {
  border: none;
  background: none;
  text-transform: uppercase;
  height: 100%;
  font-weight: 700;
  color: gold;
  letter-spacing: 1px;
  font-size: inherit;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  outline: none;
}

button:hover {
  color : black;
  background: gold;
}
