html {
height: 800px;
}

body {
  background: -moz-linear-gradient(top, #5b7e7a 0%, #5b6069 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5b7e7a), color-stop(100%, #5b6069));
background: -webkit-linear-gradient(top, #5b7e7a 0%, #5b6069 100%);
background: -ms-linear-gradient(top, #5b7e7a 0%, #5b6069 100%);
background: linear-gradient(to bottom, #5b7e7a 0%, #5b6069 100%);

  margin: 0;
  font-family: "Poiret One";
}

.square {
  width: 30%;
  background: purple;
  padding-bottom: 30%;
  float: left;
  margin: 1.66%;
  border-radius: 25%;
  transition: background 0.6s;
  -webkit-transition: background 0.6s;
  -moz-transition: background 0.6s;
}

#container {
  max-width: 600px;
  margin: 20px auto;
  

}




h1 {
  color: black;
  text-align: center;
  line-height: 1.1;
  background:#f8c291;
  margin: 0;
  font-weight: normal;
  text-transform: uppercase;
  padding: 20px 0;
}
span {
  color: black;
}
#colorDisplay{
  font-size: 200%;
}

#message{
  display: inline-block;
  width: 20%;
}

#stripe {
  background-color:  white;
  height: 30px;
  text-align: center;
  
}
.selected {
  background-color: blue;
  color : black;
  background: gold;
}

button {
  border: none;
  background: none;
  text-transform: uppercase;
  height: 100%;
  font-weight: 700;
  color: gold;
  letter-spacing: 1px;
  font-size: inherit;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  outline: none;
}

button:hover {
  color : black;
  background: gold;
}
